project/quartus/.DS_Store
project/quartus/transcript
project/quartus/tcl_stacktrace.txt
project/quartus/c5_pin_model_dump.txt
project/quartus/*.mti
project/quartus/*.mpf
project/quartus/*.wlf
project/quartus/*.qdb
project/quartus/*.qpg
project/quartus/*.qtl
project/quartus/*.bak
project/quartus/work/
project/quartus/db/
project/quartus/incremental_db/
project/quartus/simulation/
project/quartus/output_files/
project/arm/.metadata/
project/arm/
project/modelsim/
launch_ds5.sh
preloader.sh
program.sh
