.metadata
.qsys_edit
.DS_Store
transcript
tcl_stacktrace.txt
c5_pin_model_dump.txt

*.mti
*.mpf
*.wlf
*.sof
*.bak
*.rpt
*.sld
*.smsg
*.sopcinfo
*.stp
*.summary
*.xml
*.cdf
*.done
*.csv
*.jdi

CPEN391_Computer/
design_constraints/
greybox_tmp/
hps_isw_handoff/
work/
db/
incremental_db/
simulation/
output_files/
